@(message: String, style: String = "java")

<head>
<link href="assets/stylesheets/viewStyle.css" rel="stylesheet" type="text/css" media="all">
</head>

<center><H1>@message</H1>
  <H1>Sistema de gestión de artistas y música NoCopyrightSounds</H1>
  <H1>&nbsp;</H1>
</center>


<table width="1072" border="0">
  <tr>
    <td width="531" height="98"><h2 align="center">ARTISTAS</h2></td>
    <td width="531"><h2 align="center">CANCIONES</h2></td>
  </tr>
  <tr>
    <td height="58"><a href="@routes.ArtistaController.crear" class = "button">CREAR ARTISTA</a></td>
    <td><a href="@routes.CancionController.agregar" class = "button">AGREGAR CANCION</a></td>
  </tr>
  <tr>
    <td height="58"><a href="@routes.ArtistaController.modificar" class = "button">MODIFICAR ARTISTA</a></td>
    <td><a href="@routes.CancionController.eliminar" class = "button">ELIMINAR CANCION</a></td>
  </tr>
  <tr>
    <td height="58"><a href="@routes.ArtistaController.eliminar" class = "button">ELIMINAR ARTISTA</a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="58"><a href="@routes.ArtistaController.listarCanciones" class = "button">LISTAR CANCIONES DEL ARTISTA</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

    

