@(cadena:String)

<head>
<link href="../assets/stylesheets/viewStyle.css" rel="stylesheet" type="text/css" media="all">
</head>

<h1>@cadena</h1>

<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
  <p>
    <label for="nombreCan">Nombre Cancion</label>
    <input type="text" name="nombreCan" id="nombreCan" />
  </p>
  <p>
    <label for="nomArt">Nombre artista</label>
    <input type="text" name="nomArt" id="nomArt" />
  </p>
</form>
<p>&nbsp;</p>

<br>
            <p>
                <a href="@routes.HomeController.index">INICIO</a>
            </p>

   